# project
.clj-kondo/
!.clj-kondo/config.edn
!.clj-kondo/hook/
.lsp/

# java
pom.xml
pom.xml.asc
*jar
*.class

# clojure
lib/
**/classes/
**/native/
**/checkouts/
**/target/
**/.cpcache/
.lein-*
.nrepl-port
.repl
*build_artifacts*

# temp
*.orig
*~
.*.swp
.*.swo
*.tmp
*.bak

# macos
.DS_Store

# logging
*.log
/logs/

# builds
out/
build/

# local
data/
