{:paths ["src" "test" "config"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"},
        ns-tracker/ns-tracker {:mvn/version "0.4.0"},
        org.clojure/math.combinatorics {:mvn/version "0.2.0"},
        tick/tick {:mvn/version "0.6.0"},
        org.clojure/data.json {:mvn/version "2.4.0"},
        clj-http/clj-http {:mvn/version "3.12.3"},
        com.github.seancorfield/honeysql {:mvn/version "2.4.1011"},
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.862"},
        org.postgresql/postgresql {:mvn/version "42.6.0"},
        org.mariadb.jdbc/mariadb-java-client {:mvn/version "3.1.3"},
        com.mysql/mysql-connector-j {:mvn/version "8.0.32"},
        io.pedestal/pedestal.service {:mvn/version "0.5.10"},
        io.pedestal/pedestal.route {:mvn/version "0.5.10"},
        io.pedestal/pedestal.jetty {:mvn/version "0.5.10"},
        hiccup/hiccup {:mvn/version "1.0.5"},
        ch.qos.logback/logback-classic {:mvn/version "1.2.11", :exclusions [org.slf4j/slf4j-api]},
        org.slf4j/jul-to-slf4j {:mvn/version "1.7.36"},
        org.slf4j/jcl-over-slf4j {:mvn/version "1.7.36"},
        org.slf4j/log4j-over-slf4j {:mvn/version "1.7.36"}}
 :aliases {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "27ff8a4"}}
                   :ns-default build}}
 }
