{:linters {:unused-binding
           {:exclude-destructured-keys-in-fn-args true
            :exclude-destructured-as true
            :exclude-defmulti-args true}
           :clojure-lsp/unused-public-var
           {:level :warning
            :exclude #{net.paradigmx.horizon.common/echo}
            :exclude-regex #{"net.paradigmx.horizon.server/dev-.*"}}
           :unresolved-symbol
           {:exclude [(clojure.test/are [thrown? thrown-with-msg? thrown-with-data?])
                      (clojure.test/is [thrown? thrown-with-msg? thrown-with-data?])
                      (io.pedestal.interceptor.error/error-dispatch [ctx ex])]}
           }
 :lint-as {net.paradigmx.common.core/if-let* clojure.core/let}
 }
