{:linters {:unused-binding
           {:exclude-destructured-keys-in-fn-args true
            :exclude-destructured-as true
            :exclude-defmulti-args true}
           :clojure-lsp/unused-public-var
           {:level :warning
            :exclude #{net.paradigmx.horizon.common/echo}
            :exclude-regex #{"net.paradigmx.horizon.server/dev-.*"}}
           }
 :hooks {:analyze-call {net.paradigmx.horizon.common/if-let* hooks.horizon/if-let*}}
 }
